---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Personal Homepage',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Hankyu Kim"
    tagline="Personal Web"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') }]}
  >
    <Fragment slot="subtitle">
      I'm a Robotics Engineer passionate about building intelligent systems. <br /> 
With 2 years of experience developing autonomous driving technologies and a degree in Electronics and Electrical Engineering, 
I am now pursuing my Master's in ECE at UCSC, exploring the intersection of robotics, control, and AI.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-github',
        callToAction: {
          target: '_blank',
          text: 'Github',
          href: 'https://github.com/Hankyu-Kim',
        },
      },
      {
        icon: 'tabler:mood-smile-beam',
        callToAction: {
          target: '_blank',
          text: 'Hugging Face',
          href: 'https://huggingface.co/hank123456',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/hankyu-kim-hardworker/',
        },
      },
    ]}
    image={{
      src: 'https://i.imgur.com/8ZlDWXo.jpeg',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Welcome to my engineering journey. 
        My work reflects a strong commitment to building reliable and scalable systems, 
        where every line of code contributes to a greater whole.
      </p>
      <br />
      <p>
        I thrive in collaboration, bridging communication across teams to achieve shared goals. 
        I believe talented individuals can create extraordinary solutions, 
        and I am dedicated to fostering an environment where innovation flourishes.
      </p>
      <br />
      <p>If you're curious to explore more of my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

<Steps
  id="resume"
  title="Work experience"
  items={[
    {
      title:
        'SW Engineer <br /> <span class="font-normal">MORAI Inc., Seoul, South Korea</span> <br /> <span class="text-sm font-normal">Apr 2024 - May 2025</span>',
      description: `Architected and developed a multi-threaded communication module for real-time data exchange between real robots/vehicles and the simulator using UDP, TCP/IP, gRPC, and ROS. <br />
      Created virtual sensor data (cameras, LiDAR) in the simulator via UDP/ROS. <br />
      Developed a multi-vehicle control tower software, including both server and client components with integrated database support.`,
      icon: 'tabler:briefcase',
    },
    {
      title:
        'Autonomous Driving SW Engineer <br /> <span class="font-normal">sonnet.ai, Daegu, South Korea</span> <br /> <span class="text-sm font-normal">Feb 2023 - Apr 2024</span>',
      description: `Developed full-stack autonomous driving systems, including a Qt-based UI and remote vehicle control/data transfer over UDP for a robotaxi platform. <br />
      Engineered longitudinal and lateral control systems, incorporating actuator control, parameter tuning, and local path planning for smooth and stable driving, including curve handling.`,
      icon: 'tabler:briefcase',
    },
  ]}
  classes={{ container: 'max-w-3xl' }}
/>

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Science in Electrical and Computer Engineering <br /> <span class="font-normal">University of California, Santa Cruz</span> <br /> <span class="text-sm font-normal">2025 - Present</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Science in Electrical and Electronic Engineering <br /> <span class="font-normal">Dankook University</span> <br /> <span class="text-sm font-normal">2017 - 2023</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Skills"
    subtitle="Explore the technical proficiencies that empower me to build intelligent systems and autonomous solutions."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Programming',
        description: 'Proficient in C, C++, C#, and Python for developing robust software solutions.',
      },
      {
        title: 'Network Communication',
        description: 'Experienced in UDP, TCP/IP, and ROS for real-time data exchange and robotics applications.',
      },
      {
        title: 'Multithreading',
        description: 'Skilled in designing and implementing multi-threaded systems for high-performance computing.',
      },
      {
        title: 'Electrical Fundamentals',
        description: 'Solid understanding of voltage, current, and electrical principles for hardware interfacing.',
      },
      {
        title: 'Control Theory',
        description: 'Knowledgeable in PID control, compensators, and advanced control techniques for dynamic systems.',
      },
      {
        title: 'Dynamics',
        description: 'Experience in modeling and analyzing physical systems and their motion behaviors.',
      },
      {
        title: 'Circuit Modeling',
        description: 'Familiar with resistors, capacitors, inductors, transistors, and op-amps, including practical and simulation-based analysis.',
      },
      {
        title: 'Natural Language Processing',
        description: 'Experienced in processing and analyzing text data for language understanding tasks.',
      },
      {
        title: 'Deep Learning & Reinforcement Learning',
        description: 'Skilled in designing and training neural networks for perception, control, and decision-making tasks.',
      },
    ]}
  />

  <!-- Content Widget **************** -->
<Content
  id="portfolio"
  title="Exploring Robotics through Simulation and Real-World Experiments"
  subtitle="A journey from foundational control methods to advanced AI-driven robotics. Discover how simulations, deep learning, and reinforcement learning converge to bring robotic intelligence closer to reality."
  isReversed
  items={[
    {
      title: 'Description:',
      description:
        'Before studying VLA, I implemented the ACT model using a simulator with transformers. Training data was collected from a top and front camera to capture object positions and grasping actions. The model was then deployed on a real robot arm to validate grasping performance.',
    },
    {
      title: 'Role:',
      description:
        'Conducted research on ACT concepts and papers, and implemented the project using Hugging Face resources.',
    },
  ]}
  image={{
    src: '~/assets/images/lerobot.png',
    alt: 'Lerobot Training Image',
  }}
  callToAction={{
    target: '_blank',
    text: 'Go to the project',
    icon: 'tabler:chevron-right',
    href: '/',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Project 1: <br /><span class="text-2xl">Lerobot model training using simulator for real-world implementation</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
  isReversed
  isAfterContent={true}
  items={[
    {
      title: 'Description:',
      description:
        'My first project involving a robotic arm used the YOLOv8 model to detect object coordinates. These were communicated via ROS2 topics and applied to inverse kinematics for a 4-axis robotic arm to perform pick-and-place tasks. Training was based on labeled images extracted from videos, followed by real-world testing.',
    },
    {
      title: 'Role:',
      description:
        'Implemented Inverse Kinematics and PID control, and designed behavior sequences using Groot’s behavior tree editor for structured robot control.',
    },
  ]}
  image={{
    src: '~/assets/images/roarm.png',
    alt: 'RoArm Pick and Place Project Image',
  }}
  callToAction={{
    target: '_blank',
    text: 'Go to the project',
    icon: 'tabler:chevron-right',
    href: '/',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Project 2: <br /><span class="text-2xl">RoArm-M2-S Pick & Place (Personal project)</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

<!-- Content Widget **************** -->

<Content
  isReversed
  isAfterContent={true}
  items={[
    {
      title: 'Description:',
      description:
        'Genesis AI is a generative AI-powered simulator that creates environments from text prompts, enabling users to control robots manually or through reinforcement learning. Currently, robots can complete simple missions, with plans to expand toward more complex environments, missions, and robot models.',
    },
    {
      title: 'Role:',
      description: 'Ongoing project; currently developing and expanding features.',
    },
  ]}
  image={{
    src: '~/assets/images/genesis.png',
    alt: 'Genesis AI Simulator Image',
  }}
  callToAction={{
    target: '_blank',
    text: 'Go to the project',
    icon: 'tabler:chevron-right',
    href: 'https://github.com/Hankyu-Kim/Genesis',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
      Project 3: <br /><span class="text-2xl">Genesis AI - Generative Simulator</span>
    </h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: '정재훈',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: '손준우',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: '허경무',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: '김정희',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: '정미나',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: '정희원',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->
<!-- 이거 기능조사 후 구현 필요 -->
  <CallToAction
    title="Let's create together"
    subtitle="Ready to transform your vision into captivating designs?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
